.element.project-mapping .conditions > .conditional > .remove,
.element.project-mapping .actions > .conditional > .remove {
  display: none;
}

.element.project-mapping .conditional .conditional {
  padding-left: 20px;
}

  .element.project-mapping .conditional .all-any-wrapper {
    display: -moz-inline-stack;
    display: inline-block;
  }

.element.project-mapping .all-any {
  margin-right: 10px;
}

.element.project-mapping .all-any-wrapper h4 {
  display: inline-block;
  margin-bottom: 0;
}

.element.project-mapping .all-any-wrapper, .element.project-mapping .conditional, .rule {
  margin-top: 10px;
}

.element.project-mapping .add-rule, .element.project-mapping .add-condition, .remove {
  margin: auto 5px;
}

.element.project-mapping .add-rule.button {
  margin: 10px 0 0 0;
}

.element.project-mapping .remove {
  color: red;
}

.element.project-mapping .rules {
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.element.project-mapping .rule:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ddd;
}

.element.project-mapping .rule .rule-button-container {
    margin-top: 5px;
}

.element.project-mapping .rule input {
  width: 250px;
}

.element.project-mapping .rule select {
  margin-right: 10px;
}

.element.project-mapping .action-buttons {
  margin-top: 10px;
}

.element.project-mapping .action {
  margin-top: 10px;
}

.element.project-mapping .action .subfields,
.element.project-mapping .action .subfields .field {
  display: inline;
}

.element.project-mapping .action select,
.element.project-mapping .action input,
.element.project-mapping .action textarea {
  margin-right: 10px;
}

.element.project-mapping .action textarea,
.element.project-mapping .action input {
  width: 250px;
}

.element.project-mapping .action textarea {
  vertical-align: top;
  height: 50px;
}

