/*
// Add your own style rules here, not in css/main.css
// or css/setting.css for easy updating reasons.
*/

.result-container {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
.result-container.error {
    display: block
}

#sidebar {
    display: none;
}