/*
// Copyright (c) 2011 Frank Kohlhepp
// https://github.com/frankkohlhepp/fancy-settings
// License: LGPL v2.1
*/
body {
    width: 680px;
}

.fancy {
    text-shadow: #F5F5F5 0 1px 0;
}

#sidebar {
    padding: 10px 25px 0 25px;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

#sidebar h1 {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 26px;
    color: #707070;
}

#tab-container {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: right;
}

#tab-container .tab {
    height: 28px;
    padding: 0 25px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    color: #808080;
    cursor: pointer;
}

#search-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 23px !important;
    cursor: default !important;
}

#search-container input {
    width: 130px;
}

#tab-container .tab.active, body.searching #search-container {
    background-color: #D4D4D4;
    border-color: #BFBFBF;
    color: black;
    text-shadow: #DBDBDB 0 1px 0;
    box-shadow: inset -12px 0 30px -30px black;
}

body.searching #tab-container .tab.active {
    background-color: transparent;
    border-color: transparent;
    color: #808080;
    text-shadow: inherit;
    box-shadow: none;
}

#content {
    overflow: auto;
}

#impex-container {
    text-align: right;
    margin-bottom: 10px;
    padding: 0 10px;
}

#settings-export {
    text-decoration: none;
}

#import-dialog {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
#import-dialog.visible {
    display: block;
}

#import-error-container {
    display: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #a94442;
    text-align: left;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
#import-error-container.visible {
    display: block;
}

.tab-content {
    display: none;
    padding: 20px;
    padding-top: 15px;
}

body.searching .tab-content {
    display: none !important;
}

body.searching #search-result-container {
    display: block !important;
}

body.measuring .tab-content, body.measuring #search-result-container {
    display: block !important;
    opacity: 0;
    overflow: hidden;
}
