.form {
    padding: 0 10px;
    width: 246px;
}

.result-container {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
.result-container.error {
    display: block
}

.input-container {
    margin-bottom: 15px;
}

.input-label {
    display: block;
    width: 100%;
    color: #666;
    margin-bottom: 5px;
}

.input {
    width: 100%;
}

.btn {
    padding: 5px 15px;
    background-color: #3b7fc4;
    color: white;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;  
}
.btn:hover {
    background-color: #4796e6;
}
.btn:active {
    background-color: #3572b0;
}

.sync-container {
    display: none;
    width: 772px;
}
.sync-container.visible {
    display: block;
}

.sync-container .total-time {
    font-weight: bold;
}
.sync-container .total-time-label {
    text-align: right;
}

.jira-logs {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.jira-logs th {
    font-weight: bold;
}

.jira-logs th, .jira-logs td {
    border: 1px solid #ccc;
    padding: 3px;
}

.loader {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../images/loader.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.loader.active {
    display: block;
}